@import url(https://fonts.google.com/specimen/Kumbh+Sans);
*{
  box-sizing: border-box;
}
.html{
  height: 100%;
}
:root {
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;

}
/* body {
  height: 100%;
  margin: 0; 
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

body {
  /* margin: 0;
  font-family: "Kumbh", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: grid;
  justify-content: center;
  align-content: center; */
  height: 100%;
    margin: 0; 
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.whole_card {
  /* background-color: white;
  border-radius: 30px;
  height: 571px;
  width: 920px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  background-image: url(bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 1260% 65%; */
  width: 70%;
  min-height: 350px;
  /* padding-top: 6% ; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 10% auto;
  border-radius: 35px;
}



/* .advice {
  border: 1rem;
  color: blueviolet;
  height: 10px;
  width: 70px;
  display: grid;
} */
.answer {
  display: none;
}

/* .active .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--veryDarkGrayBlue);
  transition: all .3s ease-in;
} */
.women-mobile, .bg-pattern{
  display: none;
}
/* .accordion_question_answer {

  width: 350px;
  border-bottom: 1px solid #e8e8ea;


} */

h1 {
  font-size: 3rem;
  margin-top: 70px;
  margin-left: 34px;

}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(238, 29%, 16%);
  margin: 1.4rem 0rem;
}

.arrow {
  align-self: center;
}


/* li {

  display: flex;
  justify-content: space-between;
  cursor: pointer;

  transition: 0.4s;

} */



/* a,
ul {
  text-decoration: none;
  list-style: none;

} */
ul{
  padding-left: 0;
  list-style-type: none;
}
li {
  
  border-bottom: 1px solid hsl(240, 5%, 91%);

 
}
.image_wrap {
  /* background: url(illustration-woman-online-desktop.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center; */

  position: relative;
  width: 50%;
  background: url("bg-pattern-desktop.svg"),url("illustration-woman-online-desktop.svg")  ;
  background-size: 100 80% ;
  background-repeat: no-repeat, no-repeat;
  background-position-x: -585px, -72px;
  background-position-y: -400px, top;

}
.accordion_question_answer.active .answer{
  display: block;
}
.box {

  /* position: relative;
  top: 260px;
  left: -6rem; */
  position: absolute;
    top: 117px;
    left: -98px
}

.accordion_wrap {
  /* overflow: hidden; */
  /* word-wrap    : break-word;
  overflow-wrap: break-word; */
  width: 50%;
  padding-right: 70px;
  font-size: 18px;
  padding-bottom: 4%;
  color: hsl(238, 29%, 16%);
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.question:hover{
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}
.answer{
  display: none;

}

.active img{
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}
.answer {
margin-top: 0;
overflow: hidden;
color: hsl(240, 6%, 50%);  
}  

@media only screen and (max-width: 375px) {
  /* .whole_card {
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0.5rem;
    position: relative;
    padding: 1rem;
    height: 530px;
  }

  .mobile {
    background: url(illustration-woman-online-mobile.svg);
    /* height: 100%;
    background-repeat: no-repeat;
    background-position: 120% center; */
  /* }

  .image_wrap {
    display: none;
  } */ 

.whole_card{
    width: 86%;
    margin: 120px auto;
    min-height: 375px;
    flex-direction: column;
}

.image_wrap{
width: 100%;
height: 100px;
background: none;
position: relative;
}
.box{
    display: none;
}
.women-mobile, .bg-pattern{
    display: block;
}
.women-mobile{
    position: relative;
    /* bottom: 130px;
    left: 1px; */
    bottom: 130px;
        left: 1px;
}
.bg-pattern{
position: relative;
left: 47px;
bottom: 218px;
}
.accordion_wrap{
width: 100%;
min-height: 400px;
margin: 0 auto;
padding: 0 20px;
}
h1{
    text-align: center;

}
.question:hover{
    color: hsl(14, 88%, 65%);
}
}

  
/* .women-mobile, .bg-pattern{
  display: none;
} */
.box-desktop{
  display: none;
}

.card-content h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: hsl(238, 29%, 16%);

}

.card-content p{
  padding: 1rem;
  font-size: 1.7rem;
  text-align: center;
  color: hsl(275, 82%, 28%);

}

.mobile-divider{
  display: none;
}

.desktop-divider{
  display: block;
  width: 100%;
  padding-top: 2rem;

}

.advice-card{
  background: hs1(225, 20%, 96%);
  width: 50%;
  max-height: fit-content;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 0.5rem;
  padding: 2rem;
}



.dice{
position: absolute;

left: 48.5%;

margin-top: 0.5rem;

background: hs1(0, 0%, 97%);

padding: 0.7rem;

border-radius: 50%;

cursor: pointer;
border: 1px solid black;
}



.dice:hover
{
  box-shadow: 1px 1px 10px 1px hs1(273, 54%, 128) ;
}


•dice img{


 display:flex;
align-items: center;
justify-items: center;
width: 95%;
padding-top: 1px;
}

•footer-container {
font-size: 13px;
text-align: center; 
color: #fff;
margin-bottom: 20px;
}




@media screen and (max-width:375px) {
 body{
font-family: 'Open Sans', sans-serif;
 }
•card-content h1{
font-size: 1rem;
text-align: center;
margin-bottom: 2rem;
color: hs1 (150, 100%, 66%);
font-weight: 300;
}
•card-content{
padding: 2rem;
}


.card-content p{
font-size: 1.4rem;
text-align: center;
color:hs1 (193, 38%, 86%);
font-weight: 700;
}


•desktop-divider{
  display: none;
}
  •mobile-divider{
  width: 95%;
  padding-top: 2rem;
  padding-left: 2rem;
  }

  •advice-card{
    background: hs1(217, 19%, 24%);
    width: 90%;
    max-height: fit-content;
    margin: 0 auto; 
    margin-top: 12rem;
    border-radius: 0.5rem;
  }
    •dice{ position: absolute;
    left: 46%;
    margin-top: -1.4rem; background:
    hs1 (150, 100%, 66%) ;
    padding: 0.7rem; border-radius: 50%;
    border:none;
    cursor: pointer;
    }


    •dice:hover
{
box-shadow: 1px 1px 10px 1px hsl (150, 100%, 66%);
}

•dice img{ display:flex;
align-items: centers;
 justify-items: center; 
 width: 90%;
padding-top: 2px;
}

}




.advice-number {
  color: var(--neon-green);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 800;
}

.quotes {
  font-size: 1.75rem;
  color: var(--light-cyan);
  font-weight: 800;
  padding: 0 1rem;
}
.line {
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  padding-top: 0.6rem;
  align-items: center;
  margin: 0 auto;
}
.line::before,
.line::after {
  content: " ";
  background-color: var(--white);
  opacity: 0.2;
  width: 70%;
  height: 1px;
}
.line-image {
  background-image: url("images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 10rem;
  height: 2rem;
}

.main-container {
  position: relative;
  max-width: 33.75rem;
  width: 90%;
  min-width: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.28rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: var(--grayish-blue);
  border-radius: 10px;
  padding: 3.2rem 1.5rem;
  text-align: center;
  box-sizing: border-box;
}

.dice-img {
  position: absolute;
  cursor: pointer;
  background-color: var(--neon-green);
  background-image: url("icon-dice.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  transform: translateY(30%) translateX(-50%);
  left: 50%;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: all ease-in-out 0.3s;

}

@media (hover: hover) {
  .dice-img:hover {
    box-shadow: -1px 1px 88px 12px rgba(82, 255, 168, 1);
    -webkit-box-shadow: -1px 1px 88px 12px rgba(82, 255, 168, 1);
    -moz-box-shadow: -1px 1px 88px 12px rgba(82, 255, 168, 1);
    transition: all ease-in-out 0.3s;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    margin-top: 13.75rem;
  }
}

